---
site:
  package: prospectable
  text: prospect𝛼b𝜆e
  html: 'prospect<span class="math-var">α</span>b<span class="math-var">λ</span>e'
toc:
  - section: introduction
    nav: true
    pages:
      - {file: index, name: 'Home'}
      - {file: introduction, name: 'Introduction'}
  - section: model
    nav: true
    name: 'Model'
    pages:
      - {file: exploration, name: 'Model Exploration'}
      - {file: fitting, name: 'Model Fitting'}
      - {file: prediction, name: 'Model Predictions'}
  - section: resources
    name: 'Resources'
    pages:
      - {file: legend, name: 'Legend'}
      - {file: glossary, name: 'Glossary'}
      - {file: equations, name: 'Equations'}
      - {file: references, name: 'References'}
      - {file: credits, name: 'Credits'}
---
<%- include(resolvePkg('@decidables/decidables-site/src/site.ejs')) %>
