# Installed packages
node_modules/

# Package Manager files
yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Compile/Build outputs
**/dist
**/local
**/lib
**/*.auto.*

# Test outputs
**/test/coverage
