---
site:
  package: detectable
  text: d′etectable
  html: '<span class="math-var d">d′</span>ete<span class="math-var c">c</span>table'
toc:
  - section: introduction
    nav: true
    pages:
      - {file: index, name: 'Home'}
      - {file: introduction, name: 'Introduction'}
  - section: behavior
    nav: true
    name: 'Behavior'
    pages:
      - {file: signal, name: 'Signal &amp; Noise'}
      - {file: task, name: 'Task'}
      - {file: outcomes, name: 'Outcomes'}
      - {file: rates, name: 'Tables &amp; Rates'}
      - {file: roc, name: 'ROC Space'}
  - section: theory
    nav: true
    name: 'Theory'
    pages:
      - {file: measurement, name: 'Measurement &amp; Sensitivity'}
      - {file: threshold, name: 'Threshold &amp; Bias'}
      - {file: sdt, name: 'SDT'}
      - {file: sensitivity, name: 'Iso-Sensitivity Curves'}
      - {file: bias, name: 'Iso-Bias Curves'}
  - section: model
    nav: true
    name: 'Model'
    pages:
      - {file: exploration, name: 'Model Exploration'}
      - {file: fitting, name: 'Model Fitting'}
      - {file: prediction, name: 'Model Predictions'}
  - section: bonus
    nav: true
    name: 'Bonus'
    pages:
      - {file: marginals, name: 'Marginals'}
      - {file: difficulty, name: 'Sensitivity &amp; Difficulty'}
      - {file: incentive, name: 'Bias &amp; Incentive'}
      - {file: zroc, name: '<span class="math-var">z</span>ROC Space'}
      - {file: unequal, name: 'Unequal Variance'}
  - section: conclusion
    nav: true
    name: ' '
    pages:
      - {file: conclusion, name: 'Conclusion'}
  - section: resources
    name: 'Resources'
    pages:
      - {file: legend, name: 'Legend'}
      - {file: glossary, name: 'Glossary'}
      - {file: equations, name: 'Equations'}
      - {file: references, name: 'References'}
      - {file: credits, name: 'Credits'}
---
<%- include(resolvePkg('@decidables/decidables-site/src/site.ejs')) %>
