// Built-In Modules
@use "sass:color";
@use "sass:list";
@use "sass:map";

@import "~bootstrap-icons/font/bootstrap-icons";

// FONTS
$font-map: (
  // filename: (family, style, weight, stretch)
  SourceCodePro-Regular: ("Source Code Pro", normal, 400, normal),
  SourceCodePro-It: ("Source Code Pro", italic, 400, normal),
  SourceCodePro-Semibold: ("Source Code Pro", normal, 600, normal),
  SourceCodePro-SemiboldIt: ("Source Code Pro", italic, 600, normal),
  SourceCodePro-Bold: ("Source Code Pro", normal, 700, normal),
  SourceCodePro-BoldIt: ("Source Code Pro", italic, 700, normal),
  SourceSans3-Regular: ("Source Sans", normal, 400, normal),
  SourceSans3-It: ("Source Sans", italic, 400, normal),
  SourceSans3-Semibold: ("Source Sans", normal, 600, normal),
  SourceSans3-SemiboldIt: ("Source Sans", italic, 600, normal),
  SourceSans3-Bold: ("Source Sans", normal, 700, normal),
  SourceSans3-BoldIt: ("Source Sans", italic, 700, normal),
  SourceSerif4-Regular: ("Source Serif", normal, 400, normal),
  SourceSerif4-It: ("Source Serif", italic, 400, normal),
  SourceSerif4-Semibold: ("Source Serif", normal, 600, normal),
  SourceSerif4-SemiboldIt: ("Source Serif", italic, 600, normal),
  SourceSerif4-Bold: ("Source Serif", normal, 700, normal),
  SourceSerif4-BoldIt: ("Source Serif", italic, 700, normal),
);

@each $file, $font-list in $font-map {
  @font-face {
    src: url("fonts/#{$file}.otf.woff2") format("woff2"), url("fonts/#{$file}.otf.woff") format("woff");
    font-family: list.nth($font-list, 1);
    font-style: list.nth($font-list, 2);
    font-weight: list.nth($font-list, 3);
    font-stretch: list.nth($font-list, 4);
  }
}


// COLOR
// SCSS variables
$color-grey-base: #999999; // baseline grey
$color-white: #ffffff; // 100% lightness #ffffff
$color-grey-light75: color.mix(#ffffff, $color-grey-base, 75%); // 90% lightness #e6e6e6
$color-grey-light50: color.mix(#ffffff, $color-grey-base, 50%); // 80% lightness #cccccc
$color-grey-light25: color.mix(#ffffff, $color-grey-base, 25%); // 70% lightness #b3b3b3
$color-grey: $color-grey-base; // 60% lightness #999999
$color-grey-dark25: color.mix(#000000, $color-grey-base, 25%); // 45% lightness #737373
$color-grey-dark50: color.mix(#000000, $color-grey-base, 50%); // 30% lightness #4d4d4d
$color-grey-dark75: color.mix(#000000, $color-grey-base, 75%); // 15% lightness #262626
$color-black: #000000;  // 0% lightness #000000

// Bootstrap SCSS variables
$body-bg: $color-white;
$border-color: $color-grey-light75;
$body-color: $color-grey-dark75;
$link-color: $color-grey-dark25;
$link-hover-color: $color-grey-dark50;

// Derived SCSS variables
$color-background: #{$body-bg};
$color-border: #{$border-color};
$color-text: #{$body-color};
$color-text-inverse: #{$color-white};
$color-link: #{$link-color};
$color-element-background: #{$color-grey-light75};
$color-element-disabled: #{$color-grey-light50};
$color-element-enabled: #{$color-grey};
$color-element-selected: #{$color-grey-dark25};
$color-element-border: #{$color-grey-dark50};
$color-element-emphasis: #{$color-grey-dark75};

// CSS variables
:root {
  --color-background: #{$color-background};
  --color-border: #{$color-border};
  --color-text: #{$color-text};
  --color-text-inverse: #{$color-text-inverse};
  --color-link: #{$color-link};
  --color-element-background: #{$color-element-background};
  --color-element-disabled: #{$color-element-disabled};
  --color-element-enabled: #{$color-element-enabled};
  --color-element-selected: #{$color-element-selected};
  --color-element-border: #{$color-element-border};
  --color-element-emphasis: #{$color-element-emphasis};
}


// BOOTSTRAP VARIABLES
$enable-rfs: false;
$font-family-base: "Source Sans", sans-serif;
$grid-gutter-width: 2rem;
$border-width: 1px;
$border-radius: 0.25rem;
$link-decoration: none;
$link-hover-decoration: underline;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1590px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1560px
);


// SCSS VARIABLES
$font-family-math: "Source Serif", serif; // Not in Bootstrap
$font-family-code: "Source Code Pro", monospace; // Not in Bootstrap
$font-family-serif: "Source Serif", serif; // Not in Bootstrap
$border: $border-width solid $border-color;
$transition-duration: 500ms;

// Shadows based on Material Design
// https://github.com/material-components/material-components-web/tree/master/packages/mdc-elevation
$shadow-baseline-color: #000000;
$shadow-umbra-opacity: 0.2;
$shadow-penumbra-opacity: 0.14;
$shadow-ambient-opacity: 0.12;
$shadow-opacity-boost: 0.2;

$shadow-umbra-map: (
  0: "0px 0px 0px 0px",
  2: "1.5px 3px 1px -2px",
  4: "1px 2px 4px -1px",
  8: "2.5px 5px 5px -3px",
  16: "4px 8px 10px -5px");

$shadow-penumbra-map: (
  0: "0px 0px 0px 0px",
  2: "1px 2px 2px 0px",
  4: "2px 4px 5px 0px",
  8: "4px 8px 10px 1px",
  16: "8px 16px 24px 2px"
);

$shadow-ambient-map: (
  0: "0px 0px 0px 0px",
  2: "0.5px 1px 5px 0px",
  4: "0.5px 1px 10px 0px",
  8: "1.5px 3px 14px 2px",
  16: "3px 6px 30px 5px"
);

@mixin shadow($shadow-level, $shadow-baseline-color: $shadow-baseline-color) {
  $shadow-umbra: map.get($shadow-umbra-map, $shadow-level);
  $shadow-penumbra: map.get($shadow-penumbra-map, $shadow-level);
  $shadow-ambient: map.get($shadow-ambient-map, $shadow-level);

  $shadow-umbra-color: rgba($shadow-baseline-color, $shadow-umbra-opacity + $shadow-opacity-boost);
  $shadow-penumbra-color: rgba($shadow-baseline-color, $shadow-penumbra-opacity + $shadow-opacity-boost);
  $shadow-ambient-color: rgba($shadow-baseline-color, $shadow-ambient-opacity + $shadow-opacity-boost);

  box-shadow:
    #{$shadow-umbra} #{$shadow-umbra-color},
    #{$shadow-penumbra} #{$shadow-penumbra-color},
    #{$shadow-ambient} #{$shadow-ambient-color};
}


// CSS VARIABLES for Decidables
:root { /* stylelint-disable-line no-duplicate-selectors */
  --font-family-base: #{$font-family-base};
  --font-family-math: #{$font-family-math};
  --font-family-code: #{$font-family-code};
  --font-family-serif: #{$font-family-serif};
  --border: #{$border};
  --border-radius: #{$border-radius};
  --transition-duration: #{$transition-duration};
}


// BOOTSTRAP IMPORTS
/* stylelint-disable no-invalid-position-at-import-rule */
// Bootstrap 5 Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Bootstrap 5 Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/accordion";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
// @import "~bootstrap/scss/modal";
// @import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
// @import "~bootstrap/scss/offcanvas";
// @import "~bootstrap/scss/placeholders";

// Bootstrap 5 Helpers
@import "~bootstrap/scss/helpers";

// Bootstrap 5 Utilities
@import "~bootstrap/scss/utilities/api";
/* stylelint-enable no-invalid-position-at-import-rule */


// CUSTOM CSS

// Responsive sizing (changes font size, but also margins, padding, etc... due to use of rem)
html {
  height: 100%;

  font-size: 1rem;
}

@include media-breakpoint-down(md) {
  html {
    font-size: 0.9rem;
  }
}

@include media-breakpoint-down(sm) {
  html {
    font-size: 0.8rem;
  }
}

body {
  display: flex;

  flex-direction: column;

  min-height: 100%;

  font-size: 1.125rem;
}

main {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1.5rem;
}

footer {
  margin-top: auto;
}

.math-var {
  font-family: $font-family-math;
  font-style: italic;
}

.math-greek {
  font-family: $font-family-math;
  font-style: normal;
}

.font-serif {
  font-family: $font-family-serif;
  font-style: normal;
}

.fw-semibold {
  font-weight: 600;
}

.card {
  @include shadow(2);

  &:hover {
    @include shadow(4);
  }
}

.navbar .navbar-brand,
.navbar-nav .nav-item .nav-link {
  &:hover {
    text-decoration: underline;
  }
}
