// CONTENT

// Decidables Modules
@use "fonts" as *;
@use "colors" as *;
@use "decorations" as *;

// Content

.dec-body {
  // Bootstrap icons
  .bi.bi-arrow-left-short,
  .bi.bi-arrow-right-short {
    width: 1.25rem;
    height: 1.25rem;
    
    vertical-align: -0.3125rem;
  }

  .bi.bi-github {
    width: 1.125rem;
    height: 1.125rem;
  }

  .bi.bi-link-45deg {
    width: 1.25rem;
    height: 1.25rem;
  }

  .bi.bi-list {
    width: 2rem;
    height: 2rem;
  }

  // Math
  .math-var {
    font-family: $font-family-math;
    font-style: italic;
  }

  .math-greek {
    font-family: $font-family-math;
    font-style: normal;
  }

  // Logos
  .decidables {
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: bold;
  }

  .dec-site {
    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: bold;
  }

  // Autolink Headings
  .dec-heading {
    /* stylelint-disable-next-line max-nesting-depth */
    .dec-heading-autolink {
      padding-left: 0.25rem;

      color: $color-text;

      visibility: hidden;
    }

    &:hover .dec-heading-autolink {
      visibility: visible;
    }
  }

  // References
  .csl-entry {
    padding-left: 2rem;

    text-indent: -2rem;

    &:last-of-type {
      margin-bottom: 1rem;
    }
  }

  // Credits
  code {
    padding: 0.125rem 0.25rem;

    color: revert;

    background-color: $color-element-background;
    border-radius: $border-radius;
  }

  dt {
    font-weight: $font-weight-semibold;
  }

  dt::after {
    content: ":";
  }

  dd {
    margin-bottom: 1rem;
  }
}
