// FONTS

// Built-in Modules
@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

// Decidables Modules
@use "fonts.yml" as *;

// Default Params
$font-map: $fonts !default;

$font-family-map: (
  serif: (serif),
  sans-serif: (sans-serif),
  monospace: (monospace),
);

$font-weight-catalog: (
  100: thin,
  200: extra-light,
  300: light,
  400: normal,
  500: medium,
  600: semibold,
  700: bold,
  800: extra-bold,
  900: black,
  950: extra-black,
);
$font-weight-thin: null;
$font-weight-extra-light: null;
$font-weight-light: null;
$font-weight-normal: null;
$font-weight-medium: null;
$font-weight-semibold: null;
$font-weight-bold: null;
$font-weight-extra-bold: null;
$font-weight-black: null;
$font-weight-extra-black: null;
$font-weight-map: ();

// Process font map
@each $filename, $font in $font-map {
  $category: map.get($font, "category");
  $family: map.get($font, "family");
  $style: map.get($font, "style");
  $weight: map.get($font, "weight");
  $stretch: map.get($font, "stretch");
  $formats: map.get($font, "formats");
  $src: "";

  @each $formatname, $format in $formats {
    $extension: map.get($format, "extension");

    $src: '#{$src}url("fonts/#{$filename}.#{$extension}") format("#{$formatname}")';

    @if list.index($formats, ($formatname $format)) != list.length($formats) {
      $src: "#{$src}, ";
    }
  }

  // Font faces
  @font-face {
    src: #{$src};
    font-family: $family;
    font-style: $style;
    font-weight: #{$weight};
    font-stretch: $stretch;
  }

  // Font families
  $family-list: map.get($font-family-map, $category);

  @if not list.index($family-list, $family) {
    $font-family-map: map.set($font-family-map, $category, list.join($family, $family-list, $separator: comma));
  }

  // Font weights
  $weight-name: map.get($font-weight-catalog, $weight);

  @if $weight-name and not list.index(map.values($font-weight-map), $weight) {
    $font-weight-map: map.set($font-weight-map, $weight-name, $weight);
  }

  @if $weight-name == thin {
    $font-weight-thin: $weight;
  } @else if $weight-name == extra-light {
    $font-weight-extra-light: $weight;
  } @else if $weight-name == light {
    $font-weight-light: $weight;
  } @else if $weight-name == normal {
    $font-weight-normal: $weight;
  } @else if $weight-name == medium {
    $font-weight-medium: $weight;
  } @else if $weight-name == semibold {
    $font-weight-semibold: $weight;
  } @else if $weight-name == bold {
    $font-weight-bold: $weight;
  } @else if $weight-name == extra-bold {
    $font-weight-extra-bold: $weight;
  } @else if $weight-name == black {
    $font-weight-black: $weight;
  } @else if $weight-name == extra-black {
    $font-weight-extra-black: $weight;
  }
}

// SASS Variables
$font-family-serif: map.get($font-family-map, serif); // Not in Bootstrap
$font-family-sans-serif: map.get($font-family-map, sans-serif);
$font-family-monospace: map.get($font-family-map, monospace);

$font-family-base: $font-family-sans-serif;
$font-family-code: $font-family-monospace;
$font-family-math: $font-family-serif; // Not in Bootstrap

$font-size-main: 1.125rem; // Not in Bootstrap

// CSS Variables
:root { /* stylelint-disable-line no-duplicate-selectors */
  --font-family-base: #{meta.inspect($font-family-base)};
  --font-family-math: #{meta.inspect($font-family-math)};
  --font-family-code: #{meta.inspect($font-family-code)};
  --font-family-serif: #{meta.inspect($font-family-serif)};
  --font-family-sans-serif: #{meta.inspect($font-family-sans-serif)};
  --font-family-monospace: #{meta.inspect($font-family-monospace)};
}

// Bootstrap Utility
$utilities: (
  "font-family": (
    property: font-family,
    class: font,
    values: (
      serif: var(--font-family-serif),
      sans-serif: var(--font-family-sans-serif),
      monospace: var(--font-family-monospace),
    ),
  ),
  "font-weight": (
    property: font-weight,
    class: fw,
    values: $font-weight-map,
  ),
);
